<!DOCTYPE html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <h1> Hello, World!</h1>
        <h2>The date and time on the server is: {{ time }}</h2>
    </body>
</html>
